
.analtitle{
    color: #5076FF;
    text-align: center;
    font-size: 2.5rem;
}

.table{
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    font-weight: 500;
    text-align: center;
}

.table th{
    background-color: #5076FF;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.table tr{
    border-radius: 20px;
    margin: 1rem 0;
}

.table td{
    padding: 0.5rem;
    font-size: 0.9rem;
}

.editicon{
    color: #5076FF;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0.2rem;
}

.deleteicon{
    color: #FF5D01;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0.2rem;
}

.shareicon{
    color: #60B84B;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0.2rem;
}

.qwa{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

/* different style for odd and even children */

.table tbody tr:nth-child(even){
    background-color: #B3C4FF;
}

.table tbody tr:nth-child(odd){
    background-color: transparent;
}

.deletemodal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletemodal .delm{
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 50%;
    text-align: center;
}

.deletemodal .delm .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.deletemodal .delm button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 0 auto;
    display: block;
}

.deletemodal .delm .confirmbtn{
    color: white;
    background-color: #FF4B4B;
}

@media screen and (max-width: 768px){
    .analtitle{
        font-size: 1.5rem;
        
    }

    .table{
        width: 100%;
    }
}