.myinfocards{
    width: 100%;
    display: flex;
}

.myinfocard{
    background-color: white;
    width: 260px;
    margin: 0 1.4rem;
    margin-left: 0rem;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 1.5rem;
}

.myinfocard .amount{
    font-size: 3.5rem;
    font-weight: 600;
}

.trending{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #474444;
}

.trendingtitle{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.trendingquizs{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.trending .quizitem{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    width: 20%;
}

.quizitem .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.quizitemtitle{
    font-size: 1.5rem;
    font-weight: 600;
}

.quizviews{
    font-size: 1rem;
    font-weight: 600;
    color: #FF5D01;
    display: flex;
    align-items: center;
}

.viewicon{
    margin: auto 0.4rem;
    font-size: 1.2rem;
}

.quizcreated{
    width: 100%;
    color: #60B84B;
}

@media screen and (max-width: 768px){
    .myinfocards{
        flex-direction: column;
        align-items: center;
    }

    .myinfocard{
        margin: 1rem 0;
        width: 180px;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.7rem;
    }

    .myinfocard .amount{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .trendingtitle{
        text-align: center;
        font-size: 1.5rem;
    }

    .trending .quizitem{
        width: 90%;
        margin-bottom: 1.5rem;
    }
}